label {
    color: #ced4da;
}

label,
.butns {
    display: block;
    margin: auto;
    text-align: center;
}

h5 a {
        text-decoration: none;
    color: inherit;
}
h5 a:hover  {
        text-decoration: none;
    color: inherit;
opacity: .8;
}

.margin-50 {
    margin: 60px;
}

.margin-30 {
    margin: 20px;
}

.wrap {
    display: block;
    margin: auto;
    max-width: 480px;
    padding: 30px;
}

.icon {
    color: #ced4da;
    font-size: 1.5em;
    padding: 20px;
}

p {
    color: grey;
}

h5 {
    text-align: center;
    color: #ced4da;
    padding-bottom: 30px;
}

footer {
    padding-top: 20px;
    text-align: center;
    display: block;
    margin: auto;
}

.copyright {
    font-size: .9em;
}

#tags {
    text-align: center;
}

#tags li {
    text-transform: capitalize;
}

#tags-comma {
    text-align: center;
}

#tags-comma span {
    color: white;
}

.tagbox {
    display: inline-block;
    padding: 5px 6px;
    margin: 6px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    text-transform: capitalize;
}

#new {
    display: block;
    margin: auto;
    margin-top: 30px;

}

.scale-in-center {
    -webkit-animation: scale-in-center 0.5s both;
    animation: scale-in-center 0.5s both;
}


.squeeze {
    -webkit-animation: squeeze 0.5s both;
    animation: squeeze 0.5s both;
}

@keyframes squeeze {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.loading {

    display: inline-block;
    width: 64px;
    height: 64px;
}

.loading:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #ced4da;
    border-color: #ced4da transparent #ced4da transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.copyright a {
    color: black;
}
